<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>DeviceSync</string>
    <key>CFBundleIdentifier</key>
    <string>dev.starkpat.devicesync</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>FleetMesh</string>
    <key>CFBundleDisplayName</key>
    <string>FleetMesh</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>UNSTAMPED</string>
    <key>CFBundleVersion</key>
    <string>UNSTAMPED</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>dev.starkpat.fleetmesh.invitation</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.json</string>
            </array>
            <key>UTTypeDescription</key>
            <string>FleetMesh Enrollment Invitation</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>fleetmesh</string>
                </array>
                <key>public.mime-type</key>
                <string>application/vnd.starkpat.fleetmesh-invitation+json</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>FleetMesh Enrollment Invitation</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>dev.starkpat.fleetmesh.invitation</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
    <key>DSSourceDir</key>
    <string></string>
    <key>DSCommit</key>
    <string></string>
    <key>DSBuildDate</key>
    <string></string>
</dict>
</plist>
